@media (pointer: fine) {
	.navlink {
		font-size: 26px;
	}
	.buttons-div {
		padding-left: 1em;
	}
}
@media (pointer: coarse) {
	.navlink {
		font-size: 20px;
	}
	.buttons-div {
		width: 250px;
		margin: auto;
	}
}
.a {
	background-color: green;
}
.nav {
	height: 70px;
}
h3 {
	font-family: Verdana;
	font-size: 17px;
	padding-left: 2em;
	padding-right: 2em;
}
.h3-light {
	background: linear-gradient(45deg, black, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
label {
	display: flex;
	font-family: Verdana;
	padding-left: 1em;
}
.label-light {
	background: linear-gradient(45deg, black, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: black;
}
button {
	font-family: Verdana;
}
.inputtextarea {
	color: #ffffff;
	background-color: black;
	border-color: #9f00ff;
	font-size: 20px;
}
.font20 {
	font-size: 20px;
}
.YetAnotherWhiteText {
	color: white;
	font-size: 20px;
	font-family: Arial;
}
.YellowTestFont {
	color: #e7c855;
	font-family: Arial;
}
.GreenTestFont {
	color: #a6e228;
	font-family: Arial;
}
.span-hint {
	display: none; 
	padding-left: 16px; 
	font-size: 20px; 
	font-family: Arial;
}